
<h2 mat-dialog-title class="text-primary d-flex justify-content-center title" >
  Update User
</h2>
<div class="d-flex justify-content-center ">
    <form class="form"    [formGroup]="UserForm">
    <!--   name  email  password role  -->
    <mat-form-field class="formField">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name"   [errorStateMatcher]="matcher"  placeholder="user name">
        @if (UserForm.get("name")?.hasError('required')) {
        <mat-error>name is <strong>required</strong></mat-error>
        }
    </mat-form-field>

    <mat-form-field class="formField">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email"  matInput [errorStateMatcher]="matcher" placeholder="user email">
        @if (UserForm.get("email")?.hasError('required')) {
        <mat-error>email is <strong>required</strong></mat-error>
        }
    </mat-form-field>

    <mat-form-field class="formField">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password"  [type]="hide() ? 'password' : 'text'" [errorStateMatcher]="matcher"  matInput placeholder="leave blank to not update">
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (UserForm.get("password")?.hasError('required')) {
            <mat-error>Password must be at least 6 characters <strong>6 characters</strong></mat-error>
        }
    </mat-form-field>

    @if(ErrorMessage != ''){
      <mat-error class="text-danger formField "><strong>{{ErrorMessage}}</strong></mat-error>
    }

    <div  class="actions formField">
        <button mat-raised-button color="primary"
                (click)="onSubmit()"
                [disabled]="!UserForm.valid"
                class="submit-button">Update
        </button>
    </div>

    </form>
</div>

