<!---->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MTM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  navbar" style="background-color: #e3f2fd;" id="navbarNav" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item" *ngIf="isDeveloper Visible">
        <a class="nav-link" routerLink="/users" routerLinkActive="active" >users</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="/task" *ngIf="isDeveloper Visible" routerLinkActive="active">tasks</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="/toDo"  routerLinkActive="active">to Do</a>
      </li>
    </ul>

    <button mat-raised-button [cdkMenuTriggerFor]="menu" class="example-standalone-item btn-profile">
        {{user.name}}
    </button>

    <ng-template #menu>
      <div class="example-menu" cdkMenu>
        <button cdkMenuItemCheckbox class="example-menu-item">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"> </mat-icon>
            Profile
        </button>

        <button cdkMenuItemCheckbox class="example-menu-item">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"> </mat-icon>
          Logout
        </button>

      </div>
    </ng-template>




  </div>
</nav>



