<h2 mat-dialog-title class="text-primary text-center title" >
  {{isEditing ? 'Update Task' :'Add Task'}}
</h2>

<form class="form" (ngSubmit)="onSubmit()"  [formGroup]="taskForm">

  <mat-form-field class="formField">
    <mat-label>Title</mat-label>
    <input type="text" matInput formControlName="title"   [errorStateMatcher]="matcher"  placeholder="task title">
    @if (taskForm.get("title")?.hasError('required')) {
      <mat-error>title is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field class="formField">
    <mat-label>Description</mat-label>
    <textarea formControlName="description"  matInput placeholder="task description"></textarea>
  </mat-form-field>

  <mat-form-field  class="formField">
    <mat-label>Task Date</mat-label>
    <input matInput [matDatepicker]="date"  [errorStateMatcher]="matcher"   formControlName="taskDate"  >
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date disabled="false"></mat-datepicker>
    @if (taskForm.get("taskDate")?.hasError('required')) {
    }
  </mat-form-field>

  <mat-form-field class="formField">
    <mat-label>status</mat-label>
    <input type="text" matInput formControlName="status" enabled [errorStateMatcher]="matcher"  placeholder="Task status">
    @if (taskForm.get("status")?.hasError('required')) {
      <mat-error>status is <strong>required</strong></mat-error>
    }
    @if(taskForm.get('status')?.hasError('statusInvalid')){
      <mat-error>status must be : <strong>pending</strong></mat-error>
    }
  </mat-form-field>


  <mat-form-field class="formField">
    <mat-label>Developer</mat-label>
    <input type="text"
          placeholder="Pick one"
          matInput [errorStateMatcher]="matcher"
          [formControl]="myControl"
          [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (user of filteredOptions | async; track user) {
        <mat-option [value]="user">{{user.name}}</mat-option>
      }
    </mat-autocomplete>
    @if(isControlInvalid()){
      <mat-hint class="text-danger">Developper is  <strong>Not found</strong></mat-hint>
    }

    @if(ErrorMessage != ''){
      <mat-hint  class="text-danger"><strong>{{ErrorMessage}}</strong></mat-hint>
    }
  </mat-form-field>

  <div  class="actions">
    <button mat-button type="button"
            class="cancel-button"
            (click)="onCancel()">
      Cancel
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="!taskForm.valid"
            class="submit-button">
      {{isEditing ? 'Update' :'Create'}}
    </button>
  </div>

</form>
